@model IEnumerable<StudentMark>


<h2 style="color: aqua"><b>Student List</b></h2>

<!--Create a table to show all student in our data storage-->

<table class="table">
    <thead>
        <tr>
            <th>
                <b>Student Name</b>
            </th>
            <th>
                <b>Module</b>
            </th>
            <th>
                <b>Average</b>
            </th>
            <th>
                <b>Profile Picture</b>
            </th>
        </tr>
    </thead>


    <tbody>
    @foreach (var student in Model)
    {
        var average = (student.Mark1 + student.Mark2 + student.Mark3 +
        student.Mark4) / 4;

        <tr>
            <td>
                @student.Name
            </td>
            <td>
                @student.Module
            </td>
                <td>
                    @average
                </td>
            <td>
                <img src="@student.ImageUrl" width="80" />
            </td>
        </tr>
    }

    </tbody>
</table>



